@import "tailwindcss";

@layer components {
    .btn-box{
        @apply grid grid-cols-2 gap-3  bottom-7 place-items-center mt-auto
    }
    .btn-primary {
        @apply bg-blue-400 w-full text-white font-semibold px-6 py-3 rounded-xl shadow-md hover:bg-blue-600 transition duration-200 cursor-pointer 
    }
    .question-box {
        @apply bg-green-200 text-gray-500 mt-auto px-6 py-3 rounded-xl w-full max-h-3/5 overflow-y-auto
    }
    .para-format{
        @apply text-justify font-semibold  text-gray-800 leading-relaxed tracking-wide
    }
}



@layer utilities {
  .scrollbar-hover {
    overflow-y: auto;
    scrollbar-width: none;
  }

  .scrollbar-hover:hover {
    scrollbar-width: thin;
  }

  .scrollbar-hover::-webkit-scrollbar {
    width: 0;
  }

  .scrollbar-hover:hover::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-hover::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 9999px;
  }

  .scrollbar-hover::-webkit-scrollbar-track {
    background: transparent;
  }
}